<div class="topic-index-wrapper">
  <div class="container">
    <h1 class="topic-list">コメント一覧</h1>
    <div class="topic-row">
      <div class="topic-index-single">
        <h2 class="topic-author">
          <%= @topic.user.name %>
        </h2>
        <p class="topic-time">
          <%= I18n.l(@topic.created_at, format: :long) %>
        </p>
        <%= image_tag @topic.image.url %>
          
        <p class="topic-text">
          <%= @topic.description %>
        </p>
        <div class="cf">
          <div class="topic-comment">
            <i class="far fa-comment topic-comment-icon fa-2x"></i>
            <%= link_to 'コメント', new_topic_comment_path(@topic), class: 'user-comment' %>
          </div>
        </div>
        <div class="content">
          <% @comments.each do |comment| %>
            <div class="comment-text">
              <h3 class="comment-name"><%= comment.user.name %><br></h3>
              <div class="post-menus">
                <%= link_to '削除', '#'%>
              </div>
              <ul>
                <li>
                  <%= comment.content%><br>
                  <span><%= I18n.l(comment.created_at, format: :long) %></span>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>