<%= form_with(model: event, local: true) do |form| %>
  <% event.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>

  <div class="new-event-form">
    <div class="form-group">
      <%= form.label :title, "タイトル", class: 'text-white' %>
      <%= form.text_field :title, placeholder: "例)病院, 予防接種, 健康状態 ..etc", class: 'form-control' %>
    </div>

    <%= form.label :category, "カテゴリー", class: 'text-white' %>
    <div class="form-group">
      <% Event.categories.values.each do |category| %>
        <%= form.radio_button :category, category, class: 'new-color' %>
        <%= form.label :category, category, class: "color-select #{category}" %>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :body, "記録内容", class: 'text-white' %>
      <%= form.text_area :body, placeholder: "例)ワクチン接種(フィラリア), 便の色,ご飯(多,ドッグフード) ..etc", class: 'new-form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :start_at, "開始時間", class: 'text-white' %>
      <%= form.datetime_select :start_at, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :end_at, "終了時間", class: 'text-white' %>
      <%= form.datetime_select :end_at, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit '記録を残す', class: 'new-block' %>
  </div>
<% end %>
