<div class="show-calendar-list">
  <h1 class="text-center">記録詳細</h1>

  <div class="show-event">
    <div class="show-event-detail">
      <p>
        <strong>タイトル</strong>
        <span><%= @event.title %></span>
      </p>

      <p>
        <strong>カテゴリ</strong>
        <span><%= @event.category %></span>
      </p>

      <p>
        <strong>記録内容</strong>
        <span><%= @event.body %></span>
      </p>

      <p>
        <strong>開始時間</strong>
        <span><%= @event.start_at %></span>
      </p>

      <p>
        <strong>終了時間</strong>
        <span><%= @event.end_at %></span>
      </p>
    </div>

    <%= link_to '修正する', edit_event_path(@event) %> |
    <%= link_to 'カレンダーへ戻る', events_path %> |
    <%= link_to '削除', @event, method: :delete, data: { confirm: '削除してもいいですか?' } %>
  </div>
</div>