<!DOCTYPE html>
<html>
  <head>
    <title>DogCareBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert" ><%= value %></div>
    <% end %>

  <header>
    <div class="header-logo">
      <%= link_to root_path do %>
        Dog Care Book
      <% end %>
    </div>
    <ul class="header-menus">
      <% if logged_in? %>
        <li class="<%= navigation_item_class("events") %>">
          <%= link_to 'カレンダー', events_path, class: 'btn-block' %>
        </li>
        <li class="<%= navigation_item_class("topics", except: "new") %>">
          <%= link_to '投稿一覧', topics_path, class: 'btn-block' %>
        </li>
        <li class="<%= navigation_item_class("topics", "new") %>">
          <%= link_to '新規投稿', new_topic_path, class: 'btn-block' %>
        </li>
        <li class="<%= navigation_item_class("users") %>">
          <%= link_to 'マイページ', user_path(current_user.id), class: 'btn-block' %>
        </li>
        <li>
          <%= link_to 'ログアウト', logout_path, method: :delete %>
        </li>
      <% else %>
        <li class="<%= navigation_item_class("users", "new") %>">
          <%= link_to '新規登録', new_user_path, class: 'btn-block' %>
        </li>
        <li class="<%= navigation_item_class("sessions", "new") %>">
          <%= link_to 'ログイン', login_path, class: 'btn-block' %>
        </li>
      <% end %>
    </ul>
  </header>

    <!-- カレンダー追加分 -->
    <body data-turbolinks="false">
    <%= yield %>
    </body>

    <script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>

  </body>
</html>
